body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    height: 8vh;
}
.header h3 {
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 10vw;
}
ul {
    display: flex;
    list-style: none;
    gap: 16px;
    /* margin-left: auto; */
    padding-right: 10vw;
    margin: 0 0 0 auto;
    height: 8vh;
    text-align: center;
}

li {
    margin-left: 0;
    padding: 0;
    background-color: transparent;
    align-self: center;
    width: 6vw;
}

li:hover {
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 1vh;
    height: 4vh;
    padding-top: 2vh;
}
.content-1 {
    display: flex;
    padding: 5vh 10vw;
    justify-content: space-between;
}

.content-1 .left {
    width: 40vw;
}
.content-1 .subtext {
    margin-bottom: 2vh;
}
.content-1 .subtext,
li {
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.box-2 {
    display: flex;
    flex-direction: column;
    margin: 10vh;
    gap: 5vh;
}
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 0;
}
.card-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.box-3 {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}
.quote-box {
    color: #1F2937;
    width: 60vw;
    font-size: 36px;
    margin: 10vh;
}

.quote {
    font-weight: lighter;
    font-style: italic;
}
.author {
    text-align: end;
}
.box-4 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.blue-box {
    display: flex;
    background-color: #3882F6;
    height: 15vh;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
    margin: 8vh;
}
.blue-box button {
    border-width: 0.2vh;
    border-color: #e5e7eb;
    border-style: solid;
}
.footer {
    text-align: center;
    align-content: center;
    background-color: #1F2937;
    color: #e5e7eb;
    height: 8vh;
}

img {
    width: 12vw;
    height: 20vh;
}

.card .subtext {
    text-align: center;
    width: 12vw;
}

button {
    background-color: #3882F6;
    color: #e5e7eb;
    height: 5vh;
    width: 9em;
    border-radius: 1.5vh;
    font-weight: bold;
    flex-shrink: 0;
    font-size: 18px;
}

button:hover {
    font-weight: bold;
    background-color: #3374dc;
}

.left button {
    border-style: none;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
