body {
    display: flex;
    flex-direction: column;
}

.box-1 {
    display: flex;
    flex-direction: column;
    padding: 8px, 72px;
}

.header {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style: none;
    gap: 16px;
}
.content-1 {
    display: flex;
}

.box-2 {
    display: flex;
    flex-direction: column;
}
.card-holder {
    display: flex;
}

.quote-box {
    display: flex;
    flex-direction: column;
}
.box-4 {
    display: flex;
    flex-direction: column;
}
.blue-box {
    display: flex;
}
.footer {
    text-align: center;
}

img {
    width: 200px;
}

.card .subtext {
    text-align: center;
}